<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{greeting}}
        <input @keyup.enter="greet('bob')" v-model="greeting">

        <hr />

        <button v-on:click="toggleBox">Toggle box</button>

        <div v-if="isVisible" class="box"></div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello',
                    isVisible: false
                }
            },
            methods: {
                toggleBox() {
                   this.isVisible = !this.isVisible
                },
                greet(name) {
                    console.log(this.greeting + name)
                }
            }
        })
        app.mount('#app')
    </script>
    
</body>
</html>